@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans", sans-serif;
  --color-black: #000;
  --text-sm: clamp(0.8rem, 0.08vi + 0.78rem, 0.84rem);
  --text-base: clamp(1rem, 0.23vi + 0.94rem, 1.13rem);
  --text-md: clamp(1.19rem, 0.43vi + 1.11rem, 1.44rem);
  --text-lg: clamp(1.56rem, 0.79vi + 1.36rem, 2rem);
  --text-xl: clamp(1.95rem, 1.29vi + 1.63rem, 2.66rem);
  --text-2xl: clamp(2.44rem, 2.02vi + 1.94rem, 3.55rem);
  --text-3xl: clamp(3.05rem, 3.06vi + 2.29rem, 4.73rem);
  --text-4xl: clamp(3.5rem, 4.54vi + 2.68rem, 6.31rem);
  --text-5xl: clamp(3rem, 5vi + .25rem, 7.6rem);
  --spacing-site: 1.5rem;
  --color-lime-*: initial;
  --color-red-*: initial;
  --color-yellow-*: initial;
  --color-orange-*: initial;
  --color-amber-*: initial;
  --color-green-*: initial;
  --color-emerald-*: initial;
  --color-teal-*: initial;
  --color-cyan-*: initial;
  --color-sky-*: initial;
  --color-blue-*: initial;
  --color-indigo-*: initial;
  --color-violet-*: initial;
  --color-purple-*: initial;
  --color-fuchsia-*: initial;
  --color-pink-*: initial;
  --color-rose-*: initial;
  --color-slate-*: initial;
  --color-gray-*: initial;
  --color-stone-*: initial;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
